.app.dark{
    background-color: #333;
    color: rgb(156, 156, 156);

    .chartGrid{
        stroke: rgba(228,228,228, 0.228);
    }
    .table{
        background-color: #222;
        .tableCell{
            color:#777;
        }
    }
    .sidebar{
        background-color: #333;
    }
    .navbar{
        color: #888;
        border-color: #333;
        .search{
            border-color: #888;
        }
    }
}